<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<string>+</string>
	<key>b</key>
	<string>,       ，</string>
	<key>c</key>
	<string>!       ?</string>
	<key>d</key>
	<string>*       °</string>
	<key>e</key>
	<string>3       #</string>
	<key>f</key>
	<string>/      繁</string>
	<key>h</key>
	<string>&quot; &quot;</string>
	<key>i</key>
	<string>8     英</string>
	<key>j</key>
	<string>&lt; &gt;</string>
	<key>k</key>
	<string>[ ]</string>
	<key>l</key>
	<string>{ }</string>
	<key>m</key>
	<string>⇥</string>
	<key>n</key>
	<string> .       。</string>
	<key>o</key>
	<string>9        (</string>
	<key>p</key>
	<string>0        )</string>
	<key>q</key>
	<string>1       ~</string>
	<key>r</key>
	<string>4       $</string>
	<key>s</key>
	<string> -       _</string>
	<key>t</key>
	<string>5      %</string>
	<key>u</key>
	<string>7       &amp;</string>
	<key>v</key>
	<string>\       、</string>
	<key>w</key>
	<string>2      @</string>
	<key>x</key>
	<string>:        ;</string>
	<key>y</key>
	<string>6       ^</string>
	<key>z</key>
	<string>⇤</string>
</dict>
</plist>
