<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>a↑</key>
		<string>+</string>
		<key>a↓</key>
		<string>=</string>
		<key>b↑</key>
		<string>,</string>
		<key>b↓</key>
		<string>，</string>
		<key>c↑</key>
		<string>!</string>
		<key>c↓</key>
		<string>?</string>
		<key>d↑</key>
		<string>*</string>
		<key>d↓</key>
		<string>°</string>
		<key>e↑</key>
		<string>3</string>
		<key>e↓</key>
		<string>#</string>
		<key>f↑</key>
		<string>/</string>
		<key>f↓</key>
		<string></string>
		<key>g↑</key>
		<string>&quot;&quot;</string>
		<key>g↓</key>
		<string>“”</string>
		<key>h↑</key>
		<string>《》</string>
		<key>h↓</key>
		<string></string>
		<key>i↑</key>
		<string>8</string>
		<key>i↓</key>
		<string>#中英切换</string>
		<key>j↑</key>
		<string>&lt;&gt;</string>
		<key>j↓</key>
		<string></string>
		<key>k↑</key>
		<string>[]</string>
		<key>k↓</key>
		<string></string>
		<key>l↑</key>
		<string>{}</string>
		<key>l↓</key>
		<string></string>
		<key>m↑</key>
		<string>#行尾</string>
		<key>m↓</key>
		<string></string>
		<key>n↑</key>
		<string>.</string>
		<key>n↓</key>
		<string>。</string>
		<key>o↑</key>
		<string>9</string>
		<key>o↓</key>
		<string>(</string>
		<key>p↑</key>
		<string>0</string>
		<key>p↓</key>
		<string>)</string>
		<key>q↑</key>
		<string>1</string>
		<key>q↓</key>
		<string>~</string>
		<key>r↑</key>
		<string>4</string>
		<key>r↓</key>
		<string>$</string>
		<key>s↑</key>
		<string>-</string>
		<key>s↓</key>
		<string>_</string>
		<key>t↑</key>
		<string>5</string>
		<key>t↓</key>
		<string>%</string>
		<key>u↑</key>
		<string>7</string>
		<key>u↓</key>
		<string>&amp;</string>
		<key>v↑</key>
		<string>\</string>
		<key>v↓</key>
		<string>、</string>
		<key>w↑</key>
		<string>2</string>
		<key>w↓</key>
		<string>@</string>
		<key>x↑</key>
		<string>:</string>
		<key>x↓</key>
		<string>;</string>
		<key>y↑</key>
		<string>6</string>
		<key>y↓</key>
		<string>^</string>
		<key>z↑</key>
		<string>#行首</string>
		<key>z↓</key>
		<string></string>
		<key>space↑</key>
		<string>#次选上屏</string>
		<key>space↓</key>
		<string></string>
		<key>enter↑</key>
		<string>#换行</string>
		<key>enter↓</key>
		<string></string>
		<key>backspace←</key>
		<string>#清屏</string>
		<key>123↑</key>
		<string>#切换上个输入方案</string>
	</dict>
</plist>
