.DS_Store
.build
.swiftpm
.netrc
/lib
.vscode
.plum
.deps
.HamsterInputSchemas
Resources/SharedSupport/**
*.zip


# xcode gitignore
# https://github.com/github/gitignore/blob/main/Global/Xcode.gitignore
## User settings
xcuserdata/
## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout